@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Hide the arrows for input[type="number"] in Chrome, Safari, and Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the arrows for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Custom scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Scrollbar width */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); /* Background track color */
  border-radius: 10px; /* Smooth edges */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #253537; /* Thumb color (scroll button) */
  border-radius: 10px; /* Rounded scroll button */
  border: 1px solid rgba(255, 255, 255, 0.1); /* Adds padding and a smoother look */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #2d3748; /* Darker color on hover */
}
